body {
  background: linear-gradient(
    260deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(255, 161, 242) 40%,
    rgb(250, 134, 186) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.flyinTxtCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-content: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flyIn {
  color: #fff;
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 1.2em;
  position: relative;
  text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
}
.lineOne {
  transition-delay: 0.2s;
  transition: 0.4s ease in;
  animation: txtFlyIn 0.3s linear;
}
.lineTwo {
  transition-delay: 0.4s;
  transition: 0.6s ease in;
  animation: txtFlyIn 0.6s linear;
}
.lineThree {
  transition-delay: 0.6s;
  transition: 0.8s ease in;
  animation: txtFlyIm 0.9s linear;
}
.lineOne,
.lineTwo,
.lineThree {
  font-size: 110px;
  font-weight: bold;
  letter-spacing: 3px;
}
.lineFour {
  transition-delay: 2s;
  transition: 2s ease in;
  animation: fadeIn 2s linear;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: #000;
  display: inline-block;
  color: #000;
  font-size: 32px;
  padding: 0.2em 0.5em;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes txtFlyIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.nav {
  background-color: transparent;
  --bs-nav-link-font-weight: bold;
  --bs-nav-link-padding-x: 2rem;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.nav-pills .nav-link.active {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: rgb(255, 255, 255);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.navbar-brand {
  font-weight: bold;
  font-size: 3rem;
}

.navbar {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.astrodivider {
  margin: 64px auto;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 20px;
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px #b3fa01;
}
.astrodivider span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #b3fa01;
  background: #fff;
}
.astrodivider i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #049372;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #049372;
}

/* Fonts */
.heading {
  height: 5vh;
  color: solid black;
}

.social-icons {
  display: flex;
  list-style: none;
  text-shadow: #000;
}

.social-icons li a {
  padding: 1vw;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  text-shadow: #000;
  color: #b3fa01;
  position: relative;
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 100px;
}

.social-icons li a::before,
.social-icons li a::after {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s linear;
  text-shadow: #000;
}

.social-icons li a:hover i {
  transform: scale(1.5);
  text-shadow: #000;
}

.social-icons li a:hover::before {
  transform: skewX(20deg);
  border-left: 3px solid;
  border-right: 3px solid;
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  text-shadow: #000;
  background: linear-gradient(
    111.3deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
}

.social-icons li a:hover::after {
  transform: skewY(-25deg);
  border-top: 3px solid;
  border-bottom: 3px solid;
  text-shadow: #000;
}

@media (max-width: 576px) {
  ul.social-icons {
    display: block;
  }
}

#tfoot,
#thead,
#tbody {
  text-decoration: none;
  text-transform: none;
  text-decoration-color: white;
  text-decoration-line: none;
  text-decoration-thickness: 0;
}

/* #thead {
  background-color: rgb(232, 172, 172);
}

#tbody {
  background-color: #9bfbcd;
} */

/*Cards*/
.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 40%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.05);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description h5 {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 100px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .solu_title h3 {
  color: #82c222;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.solution_cards_box .solution_card .so_top_icon {
  width: 40px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 30px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 40%;
    margin: 0 auto;
  }
}

.scus {
  box-shadow: 0px 0px 91px 50px rgba(255, 250, 187, 0.75);
}

/*Title*/
#background {
  position: absolute;
  font-family: "Helvetica";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(
    rgb(255, 5, 5) 45%,
    rgb(182, 143, 255) 20%,
    rgb(113, 113, 255) 40%,
    rgb(255, 177, 94) 60%,
    rgb(172, 255, 113) 80%,
    rgb(255, 251, 123) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-align: center;
  animation: sTransition 10s linear infinite;
  padding-top: 100px;
}

@keyframes sTransition {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}
