.nav {
  background-color: transparent;
  --bs-nav-link-font-weight: bold;
  --bs-nav-link-padding-x: 2rem;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.nav-pills .nav-link.active {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: rgb(255, 255, 255);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.navbar-brand {
  font-weight: bold;
  font-size: 3rem;
}

.navbar {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.astrodivider {
  margin: 64px auto;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 20px;
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px #b3fa01;
}
.astrodivider span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #b3fa01;
  background: #fff;
}
.astrodivider i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #049372;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #049372;
}

/* Fonts */
.heading {
  height: 5vh;
  color: solid black;
}

.social-icons {
  display: flex;
  list-style: none;
}

.social-icons li a {
  padding: 1vw;
  color: #fff;
  font-size: 30px;
  cursor: pointer;

  color: #b3fa01;
  position: relative;
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 100px;
}

.social-icons li a::before,
.social-icons li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  transition: 0.5s linear;
}

.social-icons li a:hover i {
  transform: scale(1.1);
}

.social-icons li a:hover::before {
  transform: skewX(20deg);
  border-left: 3px solid;
  border-right: 3px solid;
}

.social-icons li a:hover::after {
  transform: skewY(-25deg);
  border-top: 3px solid;
  border-bottom: 3px solid;
}

@media (max-width: 576px) {
  ul.social-icons {
    display: block;
  }
}

#tfoot,
#thead,
#tbody {
  text-decoration: none;
  text-transform: none;
  text-decoration-color: white;
  text-decoration-line: none;
  text-decoration-thickness: 0;
}

body {
  position: relative;
  background-color: #ffa8a8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f78d8d' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23eb7676' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23db6363' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23c65555' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23AA4E4E' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2560' height='1440' preserveAspectRatio='none' viewBox='0 0 2560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1678%26quot%3b)' fill='none'%3e%3crect width='2560' height='1440' x='0' y='0' fill='url(%23SvgjsLinearGradient1679)'%3e%3c/rect%3e%3cpath d='M0 0L23.12 0L0 343.36z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 343.36L23.12 0L478.89 0L0 644.83z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 644.83L478.89 0L1174.8600000000001 0L0 712.13z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 712.13L1174.8600000000001 0L1330.8000000000002 0L0 998.0899999999999z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M2560 1440L1787.6399999999999 1440L2560 1405.58z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M2560 1405.58L1787.6399999999999 1440L1710.8 1440L2560 1231.37z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M2560 1231.37L1710.8 1440L1192.54 1440L2560 854.03z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M2560 854.03L1192.54 1440L797 1440L2560 327.19999999999993z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1678'%3e%3crect width='2560' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1679'%3e%3cstop stop-color='rgba(226%2c 255%2c 205%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 143%2c 143%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
}

/* #thead {
  background-color: rgb(232, 172, 172);
}

#tbody {
  background-color: #9bfbcd;
} */

/*Cards*/
.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 40%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.05);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description h5 {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 100px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .solu_title h3 {
  color: #82c222;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.solution_cards_box .solution_card .so_top_icon {
  width: 40px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 30px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 40%;
    margin: 0 auto;
  }
}
